# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Pycache
*.pyc
__pycache__/
# Images
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
# directory
wandb/
.idea/
.ipynb_checkpoints/

DATA/
data/
output/
output_check/
output_cifar/
output_mnist/
output_waterbirds/
output_vit/
# pretrained/
*.json
methods/save.txt
*.txt